<div class="navbar navbar-inverse fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand">Property Listings</a>
        </div>
        <div class="navbar-collapse collapse" id="navbarNav" >
            <ul class="nav navbar-nav navbar-left">
                <li><a [routerLink]="['/']">Home</a></li>
                <li *ngIf="(user | async)"><a [routerLink]="['/listings']">Listings</a></li>
                <li *ngIf="(user | async)"><a [routerLink]="['/add-listing']">Add Listings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!(user | async)"><a (click)="login()">Login</a></li>
                <li *ngIf="(user | async)"><a (click)="logout()">Logout</a></li> 
                <!--need to use pipe async in order for this.user observable to work in ngIf-->
            </ul>
        </div>
    </div>
</div>